.navbar-defualt {
  bakground-color: #0abab5;
  border-color: #c84403;
}

.navbar-defualt .navbar-brand {
  color: #ffffff;

}

.navbar-defualt .navbar-brand:hover,
.navbar-defualt .navbar-brand:focus {
  color: #050505;
}

.navbar-defualt .navbar-txt {
  color: #ffffff;
}
.navbar-defualt .navbar > li > a {
  color: #ffffff;
}

.navbar-defualt .navbar-nav > li > a:hover,
.navbar-defualt .navbar-nav > li > a:focus {
color: #050505;
}
.navbar-defualt .navbar-nav > li > .dropdown-menu {
background-color: #f1761e;
}
